

<div class="services">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
          {% for service_heading in headings %}
            <div class="section-heading">
            <h2 class="w3-text-blue">{{ service_heading.title}}</h2>
            <span class="w3-text-greenmint">{{service_heading.service_statement}}</span>
            </div>
            
          {% endfor %}
        </div>

       <div class="col-md-12">
        <div class="w3-row-padding w3-center" style="margin-top:34px">
        
          {% for service in services %}
            <a href="{% url 'service-detail' service.slug %}">
                <div class="w3-quarter w3-hover-shadow w3-border-white w3-hover-border-blue w3-margin-top w3-padding " style=" height:205px;">
                    <img src="{{service.icon.url}}" alt="" class="w3-margin" style="width: 80px; height:80px;">
                    <p class="w3-xlarge">{{ service }}</p>
            
                </div>
            </a>
          {% endfor %}
      </div>
</div>

       </div>
            </div>
    </div>
</div>