<div class="sub-header  w3-card-4 w3-2017-marina">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          {% for address in addresss %}
          <li><a href="#"><i class="fa fa-clock-o"></i>{{ address.worktime }}</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>{{ address.phone }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="right-icons">
          {% for address in addresss %}
          <li><a href="{{address.facebook}}"><i class="fab fa-facebook"></i></a></li>
          <li><a href="{{address.twitter}}"><i class="fab fa-twitter"></i></a></li>
          <li><a href="{{address.instagram}}"><i class="fab fa-instagram"></i></a></li>
          <li><a href="{{address.youtube}}"><i class="fab fa-youtube"></i></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>