#header {
    height: 50px;
    background: #0af066;
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#4F84C4;
  }
  
  div.breadcrumbs {
    background: #264E36;
    color: #fff;
  }
  
  div.breadcrumbs a {
    color:  #0af066;
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: #264E36;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #0af066;
    color: #fff;
  }