#header {
    height: 50px;
    background: #004a43; 
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#004a43; 
  }
  
  div.breadcrumbs {
    background: #30caa0;
    color: #004a43 
  }
  
  div.breadcrumbs a {
    color: #333;
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: #30caa0;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #004a43; 
    color: #fff;
  }