{% extends 'base.html' %} 
{% load static %}

{% block title %} | {{service}} {% endblock %}

{% block content %}
{% include 'partials/_navbar2.html' %}
<!-- Header -->  
<div class="w3-padding-64">

  <!-- Image header -->
  <div class="w3-display-container w3-wide " id="home">
    {% if service.image %}
    <img class="w3-image" src="{{service.image.url}}" alt="Fashion Blog" width="1600" height="1060">
    {% endif %}

    <div class="w3-display-middle w3-padding-large">

      <h5 class="w3-jumbo w3-text-white w3-center w3-blue w3-opacity-min"><b>{{service}}</b></h5>
      <h6>{{service.statement}}</h6>
    </div>
</div>

  <!-- Grid -->
  <div class="w3-row w3-padding w3-border">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
    
      <!-- Blog entry -->
      <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-justify">
            {{service.description|safe}}
        </div>
      </div>
      

      
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- About/Information menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-2017-marina w3-card-4 w3-padding w3-margin">
        <div class="row ">
            <div class="col-sm-3 ">
                <img src="{{service.icon.url}}" alt="Jane" style="width:80px; height:80px; " class="w3-circle w3-center">
            </div>
        
            <div class="w3-container col-sm-9">
                
                <h4 class="w3-padding">{{service}}</h4>
                
                </div>
        </div>
      </div>
      <hr>

      <!-- Posts -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-food-kiwi">
          <h4>Other Financial Products</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
        {% for service in services %}
        
        <a href="{% url 'service-detail' service.slug %}">
          <li class="w3-padding-16">
            {% if service.icon %}
            <img src="{{service.icon.url}}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            {% endif %}
            <span class="w3-large">{{service}}</span>
          </li>
        </a>
        {% endfor %}
        </ul>
      </div>
    </div>
    </div>
</div>
      <hr>


{% endblock %}